<footer>
    <div class="f-info">
        <div class="f-info-socials">   
        <a href="https://www.instagram.com/abhimanyu.singh_5?igsh=Nm1qam9qbnc1bzRu" target="_blank" style="color: inherit; text-decoration: none;">
        <i class="fa-brands fa-square-instagram"></i>
        </a>

        <a href="https:www.linkedin.com/in/abhimanyu-singh-95a55s" target="_blank" style="color: inherit; text-decoration: none;">
        <i class="fa-brands fa-linkedin"></i>
        </a>

        <a href="https://www.facebook.com/yourusername" target="_blank" style="color: inherit; text-decoration: none;">
        <i class="fa-brands fa-facebook"></i>
        </a>

        </div>
        <div class="f-info-brand">&copy; Wanderlust Private Liimited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>